{% extends "base.html" %}
{% block title %}Learn a New Skill{% endblock %}
{% block content %}
<h1 align="center">Learn a New Skill</h1>
<ul>
  <li><a href="/skills/1">Programming Languages</a></li>
  <li><a href="/skills/2">Graphic Design</a></li>
  <li><a href="/skills/3">Digital Marketing</a></li>
  <li><a href="/skills/3">Data Analysis and Visualization</a></li>
  <li><a href="/skills/3">Public Speaking and Presentation</a></li>
</ul>
<a class="btn btn-primary" href="/home">Back to Home</a>
{% endblock %}