{% extends "base.html" %} {% block title %}InCollege{% endblock %} {% block content %}
    <div class="text-center">
      <h1>Welcome to InCollege!</h1>
      <h2></h2>
      <h3> Rocky's Story: </h3>
      <p>Rocky was a computer science student from the University of South Florida. He had the drive to succeed, but needed a way to connect with others to kickstart his career. That's when he stumbled across InCollege.</p>
      <p>Through InCollege, Rocky was able to connect with his peers, alumni, and industry professionals. He found opportunities to network with professionals and participated in hackathons with his classmates.
        He also used InCollege's skill-building resources to practice what he had learned in his classes and hone his coding skills, then impressed his hiring manager by acing his interviews. 
        Today, Rocky has a full-time job at a top software development company! </p>
      <a class="btn btn-primary" href="/incollege-video">Why InCollege?</a>
    </div>
{% endblock %}