{% extends "base.html" %}

{% block title %}<div class="text-center">Accessibility Statement</div>{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-3">Accessibility</h1>
            <p>InCollege is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone and applying the relevant accessibility standards to ensure we provide equal access to all users.</p>
            <h2>Measures to Support Accessibility</h2>
            <p>InCollege takes the following measures to ensure accessibility:</p>
            <ul>
                <li>Incorporation of accessibility into our development processes.</li>
                <li>Continuous training of our staff on accessibility best practices.</li>
                <li>Clear accessibility targets and responsibilities.</li>
                <li>Regular testing for accessibility on our platform.</li>
            </ul>
            <h2>Conformance Status</h2>
            <p>We are committed to following the Web Content Accessibility Guidelines (WCAG) and ensuring our website conforms to the AA standard.</p>
            <h2>Feedback</h2>
            <p>We welcome your feedback on the accessibility of InCollege. Please let us know if you encounter accessibility barriers:</p>
            <p>Email: <a href="mailto:JohnDoe@gmail.com">JohnDoe@gmail.com</a></p>
            <h2>Compatibility with Browsers and Assistive Technology</h2>
            <p>InCollege is designed to be compatible with the following assistive technologies:</p>
            <ul>
                <li>Browser X with assistive technology Y on operating system Z.</li>
                <li>Browser A with assistive technology B on operating system C.</li>
            </ul>
            <h2>Technical Specifications</h2>
            <p>Accessibility of InCollege relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>
            <ul>
                <li>HTML</li>
                <li>WAI-ARIA</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <h2>Limitations and Alternatives</h2>
            <p>Despite our best efforts to ensure accessibility of InCollege, there may be some limitations. Please contact us if you observe an issue.</p>
            <h2>Assessment Approach</h2>
            <p>InCollege assessed the accessibility by the following approaches:</p>
            <ul>
                <li>Self-evaluation</li>
                <li>External evaluation</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
