{% extends "base.html" %}

{% block title %}<div class="text-center">Cookie Policy</div>{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-3">Cookie Policy</h1>
            <p>This Cookie Policy explains how InCollege uses cookies and similar technologies to recognize you when you visit our platforms. It explains what these technologies are and why we use them, as well as your rights to control our use of them.</p>
            
            <h2>What are cookies?</h2>
            <p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.</p>
            
            <h2>Why do we use cookies?</h2>
            <p>We use first and third-party cookies for several reasons. Some cookies are required for technical reasons in order for our platform to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our platform.</p>
            
            <h2>How can I control cookies?</h2>
            <p>You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject.</p>
            
            <h2>How often will you update this Cookie Policy?</h2>
            <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal, or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.</p>
            
            <h2>Contact Information</h2>
            <p>If you have any questions about our use of cookies or other technologies, please email us at JohnDoe@gmail.com.</p>
        </div>
    </div>
</div>
{% endblock %}
