{% extends "base.html" %} {% block title %}Job Search{% endblock %} {% block
content %}
<h1 align="center">Job Search</h1>
<div class="text-center">
  <a class="btn btn-primary" href="/post-job">Post a Job</a>
  <a class="btn btn-primary" href="/job-list">Job/Internship Search</a>
  <a class="btn btn-primary" href="/applied-jobs">Jobs Applied For</a>
  <a class="btn btn-primary" href="/not-applied-jobs">Jobs Not Applied For</a>
  <a class="btn btn-primary" href="/saved-jobs">Jobs Saved</a>
  <a class="btn btn-primary" href="/home">Back to Home</a>
</div>
{% endblock %}
